@{

    var user = (System.Security.Claims.ClaimsIdentity)User.Identity;

}
@model Tuple<FIRSTShares.Entities.Usuario, ErrorViewModel>

<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <img src="@Model.Item1.Foto.FotoBase64" class="img-fluid img-thumbnail" width="300" />
            <a asp-area="" asp-controller="Profile" asp-action="ExcluirPerfilAsync" asp-route-id="@Model.Item1.ID" onclick="return confirm('Você certeza que deseja excluir sua conta?')" class="btn btn-danger mt-3"><i class="fas fa-user-times mr-2"></i> Excluir perfil</a>
        </div>
        <div class="col-8">
            <ul class="nav nav-tabs w-50" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" style="color:#467A99;" id="config-tab" data-toggle="tab" href="#profile"
                       role="tab" aria-controls="home" aria-selected="true">Configurações</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color:#467A99;" id="team-tab" data-toggle="tab" href="#team"
                       role="tab" aria-controls="profile" aria-selected="false">Time</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade fade show active" id="profile" role="tabpanel" aria-labelledby="config-tab">
                    <partial name="~/Views/Profile/_PartialConfiguracoes.cshtml" model="@Model" />
                </div>
                @if (Model.Item1.Time != null)
                {
                    <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                        <partial name="~/Views/Profile/_PartialTeams.cshtml" model="@Model" />
                    </div>
                }
                else
                {
                    <div class="tab-pane fade" id="team" role="tabpanel" aria-labelledby="team-tab">
                        Não há nenhum time vinculado ao seu usuário.
                    </div>
                }
            </div>
        </div>
    </div>
</div>