@{
    ViewData["Title"] = "Início";
}
@model Tuple<List<FIRSTShares.Entities.Categoria>, PagingList<FIRSTShares.Entities.Postagem>, List<FIRSTShares.Entities.Usuario>>
@using ReflectionIT.Mvc.Paging

<partial name="~/Views/Home/_PartialAddPost.cshtml" />
@{
    var margin = User.Identity.IsAuthenticated ? "" : "mt-5";
}
<div class="row @margin">
    <div class="col-sm-12 col-md-8">
        <partial name="~/Views/Home/_PartialPost.cshtml" />
    </div>
    <div class="col-4">
        <div class="card bg-light mb-3 d-md-none d-lg-block d-none d-sm-block d-sm-none d-md-block" style="max-width: 22rem;">
            <div class="card-header text-center"><strong><i class="fas fa-users" style="color:#316B5A;"></i> Usuários mais ativos</strong></div>
            <div class="card-body" id="corpoUsuarios">
                <p class="card-text">
                    <ul class="list-group">
                        @foreach (var usuario in Model.Item3)
                        {
                            <li class="list-group-item d-flex justify-content-between align-items-center">
                                <a asp-area="" asp-controller="Profile" asp-action="UserProfile" asp-route-idUsuario="@usuario.ID" style="color: black;">@usuario.Nome</a>
                                <span class="badge badge-primary badge-pill float-right" style="background-color: #2E698C">@usuario.Postagens.Where(p => !p.Excluido).Count()</span>
                            </li>
                        }
                    </ul>
                </p>
            </div>
        </div>
        <div id="accordion">
            <div class="card text-center d-md-none d-lg-block d-none d-sm-block d-sm-none d-md-block">
                <div class="card-header" id="headingOne">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Qual o intuito desta plataforma?
                        </button>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                    <div class="card-body text-justify">
                        Compartilhar materias traduzidos sobre robótica educacional e trocar ideias entre times e pessoas interessadas na <b><a style="color:#2E698C" target="_blank" href="https://www.firstinspires.org/">FIRST</a></b>.
                    </div>
                </div>
            </div>
            <div class="card text-center  d-md-none d-lg-block d-none d-sm-block d-sm-none d-md-block">
                <div class="card-header" id="headingTwo">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Vaquinha Online
                        </button>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body  text-justify">
                        <span>Nos ajude a manter a plataforma no ar! :)</span>
                        <br />
                        <a href="#">
                            <img src="~/img/porquinho.jpg" class="img-fluid" id="porquinho" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="card text-center  d-md-none d-lg-block d-none d-sm-block d-sm-none d-md-block">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#first" aria-expanded="false" aria-controls="collapseTwo">
                            “Para Inspiração e Reconhecimento da Ciência e Tecnologia”
                        </button>
                    </h5>
                </div>
                <div id="first" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                    <div class="card-body  text-justify">
                        A <b>FIRST</b> é uma competição internacional de robótica fundada pelo inventor norte-americano Dean Kamen. O projeto é voltado para crianças e para adolescentes em fase escolar, e tem por objetivo incentivar os jovens a possuírem carreiras nas áreas de STEM (Ciência, Tecnologia, Engenharia e Matemática).
                    </div>
                </div>
            </div>

            <div class="card text-center  d-md-none d-lg-block d-none d-sm-block d-sm-none d-md-block">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#missao" aria-expanded="false" aria-controls="collapseTwo">
                            Missão
                        </button>
                    </h5>
                </div>
                <div id="missao" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                    <div class="card-body  text-justify">
                        A missão da FIRST é inspirar os jovens a serem líderes nas áreas de ciências e tecnologia, envolvendo-os em programas excitantes, nos quais eles desenvolvam habilidades em engenharia e em tecnologia por meio de programas monitorados. Assim, inspirando-os a serem inovadores e a aprimorarem capacidades tais como: liderança, autoconfiança e comunicação.
                    </div>
                </div>
            </div>

            <div class="card text-center  d-md-none d-lg-block d-none d-sm-block d-sm-none d-md-block">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#visao" aria-expanded="false" aria-controls="collapseTwo">
                            Visão
                        </button>
                    </h5>
                </div>
                <div id="visao" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                    <div class="card-body  text-justify">
                        "Transformar nossa cultura, criando um mundo onde a ciência e a tecnologia são comemoradas, e no qual os jovens sonham em se tornar líderes nessas áreas". - Dean Kamen
                    </div>
                </div>
            </div>

            <div class="card text-center  d-md-none d-lg-block d-none d-sm-block d-sm-none d-md-block">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#metodologia" aria-expanded="false" aria-controls="collapseTwo">
                            Metodologia
                        </button>
                    </h5>
                </div>
                <div id="metodologia" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                    <div class="card-body text-justify">
                        Envolver as crianças, do jardim de infância até o ensino médio, em emocionantes pesquisas monitoradas e em programas de robótica que irão ajudá-los a tornarem-se líderes em ciência e tecnologia, bem como cidadãos ativos na sociedade.
                    </div>
                </div>
            </div>

            <div class="card text-center  d-md-none d-lg-block d-none d-sm-block d-sm-none d-md-block">
                <div class="card-header">
                    <h5 class="mb-0">
                        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#valores" aria-expanded="false" aria-controls="collapseTwo">
                            Valores
                        </button>
                    </h5>
                </div>
                <div id="valores" class="collapse" aria-labelledby="heading3" data-parent="#accordion">
                    <div class="card-body text-justify">
                        <b>Gracious Professionalism®</b> é uma parte do éthos da FIRST; é uma maneira de fazer as coisas que incentiva o trabalho de alta qualidade, enfatizando o valor dos outros e respeitando os indivíduos e a comunidade. Com o Gracious Professionalism, competição feroz e ganho mútuo não são noções separadas. Os jovens aprendem e competem como loucos, mas tratam uns aos outros com respeito e bondade no processo. Eles evitam tratar os outros como perdedores. A longo prazo, esse valor é a chave de uma vida significativa: pode-se acrescentar à sociedade e desfrutar da satisfação de saber que alguém agiu com integridade e sensibilidade.
                        <br />
                        <b>Coopertition®</b> produz inovação. Na FIRST, o valor de Coopertition exibe bondade e respeito sem limites em face da concorrência feroz. O conceito de Coopertition é fundado sobre a seguinte filosofia: as equipes podem – e devem – ajudar e cooperar umas com as outras, mesmo ao competirem.
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-8">
        <partial name="~/Views/Home/_PartialPagination.cshtml" />
    </div>
</div>

