<div class="row">
    <div class="col-12">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0 text-center">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="true" aria-controls="collapseOne">
                            <img src="~/img/frc.png" width="190" />
                        </button>
                    </h2>
                </div>

                <div id="collapse5" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Combinando a emoção do esporte com os rigores da ciência e tecnologia. Nós chamamos a FIRST Robotics Competition de Ultimate Sport for the Mind. Alunos do ensino médio chamam isso de "a diversão mais difícil que você já teve".

                        Sob regras rígidas, tempo e recursos limitados, as equipes de estudantes são desafiadas a arrecadar fundos, projetar uma "marca" de equipe, aperfeiçoar habilidades de trabalho em equipe e construir e programar robôs de tamanho industrial para jogar um jogo difícil contra concorrentes com a mesma mentalidade. É o mais próximo da engenharia do mundo real que um aluno pode obter. Mentores profissionais voluntários emprestam seu tempo e talentos para orientar cada equipe. Cada temporada termina com um excitante primeiro campeonato.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0 text-center">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <img  class="img-fluid mx-auto d-block" src="~/img/flljr.png" width="150" />
                        </button>
                    </h2>
                </div>

                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">

                        Nunca é cedo demais para descobrir o STEM. O PRIMEIRO LEGO League Jr. * foi projetado para introduzir conceitos STEM para crianças de 6 a 10 anos, enquanto os estimula por meio de uma marca que eles conhecem e amam - LEGO®.

                        Guiados por treinadores adultos e pelo FIRST® Core Values, os estudantes constroem modelos usando o LEGO® Education WeDo 2.0 e criam cartazes Show Me para apresentar o que aprenderam. O programa centra-se na construção de interesse em ciência, tecnologia, engenharia e matemática (STEM) através de um desafio do mundo real - a ser resolvido por pesquisa, pensamento crítico e imaginação.

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0 text-center">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapseOne">
                            <img src="~/img/fll.png" width="180" />
                        </button>
                    </h2>
                </div>

                <div id="collapse2" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        Quando os alunos estão envolvidos em experiências STEM práticas, eles criam confiança, ampliam seus conhecimentos e desenvolvem hábitos de aprendizado. Quando os adultos treinam esses alunos, eles os incentivam a tentar, falhar e tentar novamente, enquanto conectam conceitos STEM a exemplos do mundo real.

                        A FIRST® LEGO® League é a competição de robótica global mais guiada e acessível, ajudando estudantes e professores a construir juntos um futuro melhor. O programa é construído em torno de desafios baseados em temas para envolver crianças de 9 a 16 anos em pesquisa, resolução de problemas, codificação e engenharia. A base do programa é o FIRST® Core Values, que enfatiza o trabalho em equipe, a descoberta e a inovação. Os alunos emergem mais confiantes, animados e equipados com as habilidades necessárias em uma força de trabalho em mudança.

                        FIRST LEGO League é uma aliança entre a FIRST e o LEGO® Group
                        * De 9 a 14 anos nos EUA e no Canadá. As idades variam por país.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0 text-center">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseOne">
                            <img src="~/img/ftc.png" width="150" />
                        </button>
                    </h2>
                </div>

                <div id="collapse3" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        É muito mais do que construir robôs. As equipes do First Tech Challenge (até 15 membros da equipe, das 7ª à 12ª séries) são desafiadas a projetar, construir, programar e operar robôs para competir em um desafio frente-a-frente em um formato de aliança.

                        Guiados por treinadores e mentores adultos, os alunos desenvolvem habilidades STEM e praticam princípios de engenharia, enquanto percebem o valor do trabalho duro, da inovação e do trabalho em equipe.

                        O kit do robô é reutilizável de ano para ano e pode ser codificado usando uma variedade de níveis de programação baseada em Java. As equipes projetam e constroem robôs, arrecadam fundos, projetam e comercializam sua marca de equipe e fazem divulgação na comunidade para ganhar prêmios específicos. Os participantes podem se inscrever por US $ 80 milhões ou mais em bolsas de estudos universitárias.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-sm-12">
        <div class="accordion" id="accordionExample">
            <div class="card">
                <div class="card-header" id="headingOne">
                    <h2 class="mb-0 text-center">
                        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="true" aria-controls="collapseOne">
                            <img src="~/img/fgc.png" width="325" /> 
                        </button>
                    </h2>
                </div>

                <div id="collapse4" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                    <div class="card-body">
                        O FIRST Global Challenge convida cada país a enviar uma equipe para competir em nossas olimpíadas de robótica, que acontece em uma nação diferente a cada ano. Tendo como tema os maiores desafios que o nosso planeta enfrenta, incluindo os 14 Grandes Desafios da Engenharia identificados pela Academia Nacional de Engenharia, todos os anos um desafio diferente é o centro das atenções para promover a compreensão e cooperação entre os jovens do mundo. para resolver os problemas do mundo.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
