@{
    ViewData["Title"] = "Login";
    Layout = "_LayoutWithoutNav";
}
<div class="d-flex justify-content-center mt-lg-5">
    <div class="w-auto mt-lg-5 mt-md-5 mt-sm-5">
        @if (ViewBag.Mensagem != null)
        {

            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                @ViewBag.Mensagem
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        }
        <div class="card">
            <div class="card-header text-center">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"> <img src="~/img/logo.png" width="130" /></a>
            </div>
            <div class="card-body">
                <form action="/Account/AcessarConta" method="POST">
                    <div class="form-group">
                        <label>E-mail ou usuário</label>
                        <input type="text" name="usuarioemail" class="form-control" placeholder="email@email.com">
                    </div>
                    <div class="form-group">
                        <label>Senha</label>
                        <input type="password" name="senha" class="form-control" placeholder="*******" />
                    </div>
                    <div class="form-check">
                    </div>
                    <input type="submit" value="Entrar" class="btn btn-block btn-primary" />
                </form>
            </div>
            <div class="card-footer text-muted text-center">
                Não possui uma conta?  <a asp-area="" asp-controller="Account" asp-action="Register" style="color:#316B5A;">Cadastre-se.</a>
            </div>
        </div>
    </div>
</div>
