@model PagingList<FIRSTShares.Entities.Postagem>
@using ReflectionIT.Mvc.Paging


<div class="row">
    <div class="col-8">
        <partial name="~/Views/Resources/_PartialAddAnexo.cshtml" />
    </div>
</div>
<div class="row">
    <div class="col-8">
        <div class="accordion" id="accordionExample">
            <partial name="~/Views/Resources/_PartialPDF.cshtml" />
            <partial name="~/Views/Resources/_PartialVideos.cshtml" />

        </div>
        <partial name="~/Views/Resources/_PartialPostagens.cshtml" model="@Model" />
    </div>
    <div class="col-4">
        <div class="card" style="width: 18rem;">
            <img src="~/img/sharing.png" class="card-img-top" style="opacity: 0.8;" />
            <div class="card-body">
                <h5 class="card-title">Um resumo do que você irá encontrar aqui!</h5>
                <p class="card-text">
                    Separamos alguns materias bacanas para você! Nessa aba você irá encontrar alguns anexos (vídeos e PDFs), em português e espanhol,
                    com conteúdos bem legais sobre a FIRST!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-8">
        <partial name="~/Views/Resources/_PartialPagination.cshtml" />
    </div>
</div>

