@model PagingList<FIRSTShares.Entities.Anexo>
@using ReflectionIT.Mvc.Paging
<div class="row">
    <div class="col-md-8 col-sm-10">
        <partial name="~/Views/Manual/_PartialAddManual.cshtml" />
    </div>
</div>
<div class="row">
    <div class="col-md-8 col-sm-12">
        <div class="accordion" id="accordionExample">
            <partial name="~/Views/Manual/_PartialManual.cshtml" />
        </div>
    </div>
    <div class="col-4 d-none d-sm-block d-sm-none d-md-block">
        <div class="card" style="width: 18rem;">
            <img src="~/img/teamwork.png" class="card-img-top" style="-webkit-filter: grayscale(100%);filter: grayscale(100%);" />
            <div class="card-body">
                <h5 class="card-title">Um resumo do que você irá encontrar aqui!</h5>
                <p class="card-text text-justify">
                    Os nossos colaboradores traduziram alguns manuais de jogos para ajudar a galera que ainda não domina tão bem o inglês ou que prefere ler em português/espanhol. Quer saber mais sobre os jogos? Te liga nesses materiais!
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 col-md-8">
        <partial name="~/Views/Manual/_PartialPagination.cshtml" />
    </div>
</div>

