/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
}

#porquinho {
    width: 130px;
    border-radius: 65px;
    box-shadow: 5px 10px grey;
    transition: 1s;
}

    #porquinho:hover {
        width: 120px;
        border-radius: 60px;
        box-shadow: none;
    }

    #porquinho:focus {
        outline: 0;
        box-shadow: 0 0 0 0.2rem red;
    }

.border-bottom {
    border-bottom: 4px solid #568578 !important;
}

.card {
    margin-bottom: 10px;
}

.list-group-item {
    position: relative !important;
    display: block !important;
    padding: 0.75rem 1.25rem !important;
    margin-bottom: -1px !important;
    background-color: #fff !important;
    border-right: none !important;
    border-left: none !important;
    border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.badge-info {
    color: #fff !important;
    background-color: #2E698C !important;
}

.btn-link:hover {
    color: #2E698C !important;
    text-decoration: underline !important;
}

.btn-info {
    color: #fff !important;
    background-color: #68A593 !important;
    border-color: #68A593 !important;
}

    .btn-info:hover {
        color: #fff !important;
        background-color: #316B5A !important;
        border-color: #316B5A !important;
    }

    .
    -info:focus, .btn-info.focus {
        box-shadow: 0 0 0 0.2rem #316B5A !important;
    }

    .btn-info.disabled, .btn-info:disabled {
        color: #fff !important;
        background-color: #68A593 !important;
        border-color: #68A593 !important;
    }

    .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
    .show > .btn-info.dropdown-toggle {
        color: #fff !important;
        background-color: #68A593 !important;
        border-color: #68A593 !important;
    }

        .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
        .show > .btn-info.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem #68A593 !important;
        }

.page-item.active .page-link {
    z-index: 1 !important;
    color: #fff !important;
    background-color: #316B5A !important;
    border-color: #316B5A !important;
}

.page-item.disabled .page-link {
    color: #6c757d !important;
    pointer-events: none !important;
    cursor: auto !important;
    background-color: #fff !important;
    border-color: #dee2e6 !important;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #316B5A !important;
    background-color: #fff !important;
    border: 1px solid #dee2e6 !important;
}

    .page-link:hover {
        z-index: 2;
        color: #316B5A !important;
        text-decoration: none;
        background-color: #e9ecef !important;
        border-color: #a3c2c2 !important;
    }

    .page-link:focus {
        z-index: 2;
        outline: 0;
        box-shadow: 0 0 0 0.2rem #85c7b3 !important;
    }

.page-item:first-child .page-link {
    margin-left: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

.page-item:last-child .page-link {
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff !important;
    background-color: #316B5A !important;
    border-color: #316B5A !important;
}

.page-item.disabled .page-link {
    color: #6c757d !important;
    pointer-events: none;
    cursor: auto;
    background-color: #fff !important;
    border-color: #dee2e6 !important;
}

.btn-outline-primary {
    color: #316B5A !important;
    border-color: #316B5A !important;
}

    .btn-outline-primary:hover {
        color: #fff !important;
        background-color: #316B5A !important;
        border-color: #316B5A !important;
    }

    .btn-outline-primary:focus, .btn-outline-primary.focus {
        box-shadow: 0 0 0 0.2rem #316B5A !important;
    }

    .btn-outline-primary.disabled, .btn-outline-primary:disabled {
        color: #316B5A !important;
        background-color: transparent !important;
    }

    .btn-outline-primary:not(:disabled):not(.disabled):active, .btn-outline-primary:not(:disabled):not(.disabled).active,
    .show > .btn-outline-primary.dropdown-toggle {
        color: #fff !important;
        background-color: #316B5A !important;
        border-color: #316B5A !important;
    }

        .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .btn-outline-primary:not(:disabled):not(.disabled).active:focus,
        .show > .btn-outline-primary.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem #316B5A !important;
        }


#corpoUsuarios {
    background-color: #fff;
}
.btn-link {
    font-weight: 400;
    color: #2E698C !important;
    text-decoration: none;
}

    .btn-link:hover {
        color: #2E698C !important;
        text-decoration: underline;
    }

    .btn-link:focus, .btn-link.focus {
        text-decoration: underline;
        box-shadow: none;
    }

    .btn-link:disabled, .btn-link.disabled {
        color: #2E698C !important;
        pointer-events: none;
    }